body
{
    background-image: url(cloudd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#xyz
{
    background-color:white;
    width:150px;
    
}
#abc
{
    background-color:white;
    width:150px;
    
    
    
}
#def
{
    background-color:white;
    width:150px;
    
    
}
h3{
    font-family: Comic Sans MS;
   
}